<div class="center hero-unit">
  <h1>Welcome to HealthQuest</h1>

  <h2>
  This is the home page for the HealthQuest Stanford 'Venture Lab' entrepreneurship project.
  <a href="http://venture-lab.org/teams/5470/">Venture Lab HealthQuest team page</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>