<footer class="footer">
  <small>
    <a href="http://www.inhabition.com/">An Inhabition App</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://blog.inhabition.com/">News</a></li>
    </ul>
  </nav>
</footer>